.page {
  .nav {
    .inner {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .links {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.autoWidth {
  min-width: 0!important;
}
